<h1>Listing books</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Price</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @books.each do |book| %>
  <%= display_for book, :as => :table do |d| %>
    <%= d.display :title %>
    <%= d.currency :price %>
    <%= d.display :description %>
    <td><%= link_to 'Show', book %></td>
    <td><%= link_to 'Edit', edit_book_path(book) %></td>
    <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  <% end %>
<% end %>
</table>

<br />

<%= link_to 'New Book', new_book_path %>
