<p id="notice"><%= notice %></p>

<dl>
  <%= display_for @book, :as => :definition_list do |d| %>
    <%= d.display :title %>
    <%= d.display :price, :as => :currency %>
    <%= d.display :description %>
    <%= d.display :author %>
  <% end %>
</dl>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
